#p1{
    background-color: yellow;
    color: red;
}
#p2{
    color: white;
    background-color: black;
}
#p3{
    color: green;
    background-color: yellow;
    text-align:center;
}
#s{
    color: black;
    background-color: white;
}
.c1{
    color:red;
}
.c2{
    list-style: none;
    color: red;
    padding: 0%;
}
.c3{
    color: red;
    list-style: none;
    width:50%;
}
.lii{
    margin: 5px;
    border: 3px solid black;
    background-color:yellow;
    font-size: 30px;
    padding:10px;
    background-image: url("star.png");
    background-position:right;
    background-repeat:no-repeat;
    border-radius:15px;
    cursor:pointer;
}
.lii:hover{
    background-color:white;
    color:red;
    transform:translateX(15px);
    opacity:0.3;
    
}
